# Environment configuration

ENVIRONMENT=dev

# Logging configuration

LOGGING__LEVEL=debug

# API configuration

API__HOST=127.0.0.1
API__PORT=8080

# Database configuration

DB__HOST=db
DB__PORT=5432
DB__USERNAME=postgres
DB__PASSWORD=postgres
DB__NAME=postgres
DB__ECHO=true
DB__ECHO_POOL=false
DB__POOL_SIZE=50
DB__MAX_OVERFLOW=10
DB__POOL_PRE_PING=true

# Redis configuration

REDIS__HOST=redis
REDIS__PORT=6379
REDIS__USERNAME=default
REDIS__PASSWORD=redis
REDIS__DB=0

# Telegram miniapp configuration

TELEGRAM_MINIAPP__HOST=miniapp
TELEGRAM_MINIAPP__PORT=8081